<!DOCTYPE html>

<html>
    <head>
        <title>todolist</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>To-Do-List</h1>

        <ul>
        <% todolist.forEach(function(todo, index) { %>
            <li><a href="/todo/del/<%= index %>">❌</a> <%= todo %></li>
        <% }); %>
        </ul>

        <form action="/todo/add/" method="post">
            <p>
                <label for="newtodo">new task</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" />
            </p>
        </form>
    </body>
</html>